<section id="header">

       <nav class="position-relative navbar flex-wrap py-4 px-4 px-md-10 navbar-expand-lg navbar-light bg-white shadow-lg">
        <div class="container-fluid">
            <a class="d-md-none navbar-brand" href="https://library.livecanvas.com/sections/">
                <img src="/images/StarLion.png" width="48" height="48" class="d-inline-block align-text-top me-2" alt="">
            </a>
            <button class="d-lg-none ms-auto btn bg-light p-0 d-flex justify-content-center align-items-center rounded-circle" style="width: 50px; height: 50px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_LC_logocenter" aria-controls="navbar_LC_logocenter" aria-expanded="false" aria-label="Toggle navigation">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
                </svg>
            </button>
            <div class="d-none d-md-block position-absolute top-50 start-50 translate-middle">
                    <img src="/images/StarLion.png" width="48" height="48" class="d-inline-block align-text-top me-2 img-fluid" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar_LC_logocenter">
                <div lc-helper="shortcode" class="live-shortcode me-auto text-end"> <!--  lc_nav_menu -->
                    <ul id="menu-menu-1" class="navbar-nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">Hi,  </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738"> <%= name %>!</li>
                    </ul> <!-- /lc_nav_menu -->
                </div>
            </div>
        </div>
    </nav>

</section>